* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 100%, 100%);
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 20px;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 3px;
  color: #8fd129;
  font-size: xx-large;
}

.list {
  display: flex;
  list-style-type: none;
  border: 3px solid black;
  gap: 20px;
  padding: 10px;
  background-color: #ed1c24;
  color: white;
  -webkit-text-stroke-width: 1px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  height: 35vh;
  background-color: #8fd129;
  border: 3px solid black;
}

.store-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: xx-large;
}

button {
  padding: 20px;
  margin-top: 5px;
  border-radius: 20px;
  background-color: #ed1c24;
  color: white;
  border: 2px solid black;
}

#pizza-slice-burst {
  height: 300px;
  border-radius: 80%;
  border: 3px dotted #ed1c24;
  transform: scaleX(-1);
}

/* Need to commit section-1 and pizza-slice-burst changes to git once they have been completed
foodsforall on pixabay created this image - credit him
