* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 100%, 100%);
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 20px;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 3px;
  color: #8fd129;
  font-size: xx-large;
}

.list {
  display: flex;
  list-style-type: none;
  border: 3px solid black;
  gap: 20px;
  padding: 10px;
  background-color: #ed1c24;
  color: white;
  -webkit-text-stroke-width: 1px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
