* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 30px;
  background-color: #ff7f3f;
  color: #f6d860;
}
